{{!-- The following component displays Ember's default welcome message. --}}

{{!-- {{#simple-modal enabled=true title="--Simple Modal--"}}
Modal create with Ember. (Click anywhere to dismiss this notification.)
{{/simple-modal}} --}}
<h1 id="title">Simple Ember-App</h1>

{{#unless hideNav}}
<nav>
    <LinkTo @route="about">Modal</LinkTo>
</nav>
{{/unless}}
{{outlet}}

